.errorPage{
    
    display: flex;
    justify-content: center;
}
.error-frame{

    color: #E7D9AB;
    width: 70vw;
    margin-top: 5vw;
    font-size: 2.5vw;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
}