
.main-container {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    padding-top: 4vw;
}

.btn-container div{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 7vw;
    border-radius:  50%;
    z-index: 5;
    background-color: grey;
    cursor: pointer;
}

.btn-container div:hover{
    background-color: rgb(72, 71, 71);
}

.btn-container div > h1 {
    margin: auto;
    color: white;
    font-size: 6vw;
}

.ticket-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-ticket {
    width: 50vw;
    z-index: -1;
    transition: 0.2s;
}

.btn-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ticket-elements-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    row-gap: 1vw;
    color: white;
}


.button-generate-pdf {
    width: 100%;
    margin-top: 1vw;
    display: flex;
    justify-content: center;
}

.button-generate-pdf > button {
    width: 15vw;
    height:fit-content;
    border: none;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
    padding: 0.3vw;
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.violet-button {
    background-color: #5e3164;
}

.violet-button:hover {
    background-color: #391d3c;
}

.orange-button {
    background-color: #f9a825;
}

.orange-button:hover {
    background-color: #f57f17;
}

.pink-button {
    background-color: #e91e63;
}

.pink-button:hover {
    background-color: #c2185b;
}

.button-generate-pdf > button > img {
    height: 2vw;
    margin-right: 0.5vw;
}

.event-name {
    font-size: 3.5vw;
    color: rgb(243, 241, 241);
    font-weight: bolder;
}

.ticket-type {
    font-size: 2.5vw;
    color: rgb(243, 241, 241);
    font-weight: bolder;    
}

.nb-places{
    font-size: 2.5vw;
    color: rgb(243, 241, 241);
    font-weight: bolder;
}

.first-ticket {
    z-index: 2;
    transition: 0.2s;
}

.second-ticket, .third-ticket{
    position: absolute;
}

.second-ticket div, .third-ticket div {
    display: none;
}

.second-ticket{
    z-index: 1;
    transform: rotate(12deg) scale(0.9);
    transition: 0.2s;

}

.third-ticket{
    z-index: 0;
    transform: rotate(-12deg) scale(0.9);
    transition: 0.2s;
}

.nb-tickets-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    font-weight: bolder;
    color: white;
}

.hidden-text-container {
    display: none;
}