/*------------Connection-------------*/

.connectionPage{
    display:flex;
    justify-content:center;
}

.connection-register-frame{
    background-color: #2D2D2D;
    margin-top: 10vh;
    width: 50vw;
    height: 30vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius:10px;
}

.connectionForm{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center;
    color: #E7D9AB;
    width:20vw;
}

.connectionForm>p{
    font-size:calc(12px + 2.3vw);
    margin-bottom:3vh;
    
}

::placeholder{
    color: #E7D9AB;
    opacity:0.69;
    font-size: 1.9;
    text-align:center;
}

input {
    background-color: #454545;
    border:none;
    height:2vw;
    min-height: 10px;
    border-radius:10px;
    color: #E7D9AB;
    text-align: center;
}

.name, .surname{
    width: 8vw;
    margin-bottom:1.5vw;
}

.connectionForm>input{
    width: 16.5vw;
    margin-bottom:1.5vw;
}

.line{
    width:3px ;
    height: 75%;
    border-radius: 1vw;
    background-color: #E7D9AB;
}

.connectionButton{
    background-color: #5F5F5F;
    color: #E7D9AB;
    border: none;
    font-size: 1.5vw;
    width: 10vw;
    border-radius: 20px;
    cursor: pointer;
}

.line-container {
    height: 100%;
    width: fit-content;
    align-items: start;
}



