*{
    margin: 0px;
    padding: 0px;
    font-family: 'Arial';
}

body{
    background-color: #383737;
}

body button:hover{
    background-color: #767575;
}

/*--------------Header---------------*/



header{
    background-color: #2D2D2D;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.logo{
    width: 15vw;
    min-width: 90px;
    min-height: 32px;
    height: 5.5vw;
    align-self: center;
    margin: 1vw;
}

.header-right-button{
    display: flex;
    justify-content: space-around;
    width: 14vw;
    min-width: 100px;
    margin-right: 3vw;

}

.headerButton{
    height: 3vw;
    min-height: 15px;
    background-color: #5F5F5F;
    border-radius: 15px;
    border: 0;
}
.accountButton{
    color: #E7D9AB;
    width: 10vw;
    min-width: 70px;
    padding: 0.5vh;
    font-size:calc(6px + 0.7vw);
}

.cartButton{
    width: 3vw;
    min-width: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart{
    width: 2vw;
    height: 2vw;
    min-width: 15px;
    min-height: 15px;
}

/*--------------navBar---------------*/

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #424141;
    height: 5vw;
    min-height: 25px;
}

nav > div{
    display: flex;
    align-items: center;
    color: #E7D9AB ;
    font-size:calc(6px + 1.6vw);
    height:5vw ;
    min-height: 25px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;;
}
nav>div:hover{
    background-color: #555555;
}

.registerDisplay {
    text-align: center;
    padding: 1vw;
    margin-top: 2vh;
    border-radius: 20px;
}

/*----------------footer--------------*/
footer{
    margin-top: 10vw;
    background-color: #2D2D2D;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4vw;
}

.footerButton{
    color: #E7D9AB;
    margin-right: 1.5vw;
}