*{
    margin: 0px;
    padding: 0px;
    font-family: 'Arial';
}

body{
    background-color: #383737;
}

/*--------------Header---------------*/



header{
    background-color: #2D2D2D;
    display: flex;
    justify-content: space-between;
    
}

.logo{
    width: 20vw;
    min-width: 90px;
    min-height: 32px;
    height: 7vw;
    align-self: center;
    margin: 1vh;
}
.headerButton{   
    height: 6vh;
}
.accountButton{
    background-color: #5F5F5F;
    border-radius: 40;

}
.cart{
    width: 2vw;
    height: 2vw;
}


/*------------Connection-------------*/

.connectionPage{
    display:flex;
    justify-content:center;
}

.connection-register-frame{
    background-color: #2D2D2D;
    margin-top: 10vh;
    min-width: 400px;
    min-height:230px;
    width: 50vw;
    height: 30vw;
    padding-top: 3vw;
    display: flex;
    justify-content: space-evenly;
    border-radius:10px;
    
}

.connectionForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E7D9AB;
    width:20vw;
}

.connectionForm>p{
    font-size:calc(12px + 2.3vw);
    margin-bottom:3vh;
    
}

::placeholder{
    color: #E7D9AB;
    opacity:0.69;
    font-size:calc(5px + 0.8vw);
    text-align:center;
}

input{
    background-color: #454545;
    border:none;
    height:2vw;
    border-radius:10px;
    color: #E7D9AB;
}

.name, .surname{
    width: 8vw;
    margin-bottom:2vh;
    min-width: 50px;
}

.connectionForm>input{
    width: 16.5vw;
    min-width: 130px;
    margin-bottom:2vh;

}

.line{
    width:3px ;
    height: 25vw;
    min-height:210px;
    background-color: #E7D9AB;
}

.connectionButton{
    background-color: #5F5F5F;
    color: #E7D9AB;
    border: none;
    font-size: 1.5vw;
    width: 10vw;
    border-radius: 20px;
}

.connectionButton:hover{
    background-color: #767575;
}