@media screen and (max-width: 767px) {
    section {
        width: 90%;
    }

    #sides-container {
        display: flex;
        flex-direction: column-reverse;
    }

    p, label {
        font-size: 2.5vw;
    }

    h1 {
        font-size: 4.5vw;
    }

    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .download-data {
        border:none;
    }
}