<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/event.css">
    <title>This event</title>
</head>
<body>
    <div id="container">
        <ul id="options">
            <li><a href="">Concert</a></li>
            <li><a href="">Recherche</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <div id="container-description-event">
            <div id="img-title-date">
                <img src="../../.ressources/branches.png" alt="cover">
                <div id="title-date">
                    <h1>Ceci est un évènement</h1>
                    <p>31/02/2023</p>
                </div>
            </div>
            <div id="summary">
                <h1>Résumé</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste quam rerum mollitia eveniet eum, facilis similique eligendi, veritatis alias commodi ea architecto dolore rem repudiandae ipsa numquam porro ad corporis reiciendis laboriosam obcaecati nesciunt dolorem! Dolorum totam dolore, doloribus harum eaque officia! Voluptates nostrum neque quas atque, quo ducimus facilis vero obcaecati excepturi, nam soluta aperiam adipisci iste alias accusamus sit aliquam nesciunt sint perferendis voluptas numquam illum error optio? Nemo molestias et pariatur. Eos corporis voluptatibus quo deserunt ad inventore temporibus cupiditate fugit, facere repellat enim culpa voluptatum? Quia, cum expedita. Saepe repellat pariatur neque, reprehenderit repudiandae tenetur mollitia.</p>
            </div>
            <button id="btn-book">Ajouter au panier</button>
        </div>
    </div>
</body>
</html>