<head>
    <link rel="stylesheet" href="../asset/css/reception.css">
</head>

<section id="container">
    <ul id="options">
        <li><a href="">Concert</a></li>
        <li><a href="">Recherche</a></li>
        <li><a href="">Contact</a></li>
    </ul>
    <div id="eventsimages">
        
    </div>
    <div id="events">
        <p>Tous nos evènements</p>
    </div>
    <div id="searchconcert">
        <div id="point"></div>
        <input type="text" placeholder="rechercher un concert...">
    </div>
</section>